
<div class="container" >
    <div class="row ">
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
           <div class="row">
               <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                   <div class="afaste">
                    <h4>Hi, I'm Gabriel Fonseca</h4>
                    <h3 class="subTitle">Professional</h3>
                    <h3 class="title">Frontend Developer</h3>
                   </div>
               </div>
               <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <div class="mt-3 afaste2">
                    <p>Front-end developer with 1.5 year of experience. I have knowledge in HTML5, CSS3,<br> Bootstrap, JavaScript,Typescript, Angular, API consumption, Git and GitHub to create <br> web pages. Metodologies like Scrum and Kanban are also known.</p>
                   </div>
               </div>
               <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <div class="mt-3 afaste2">
                    <button class="btn">GIT HUB</button>
                    <button class="btn btn2">LINKEDIN</button>
                   </div>
               </div>
           </div>
        </div>
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5 curriculo">
                <div class="row mt-5">
                    <div class="col-12 mt-5">
                        <div class="Cv">
                            <div class="row">
                                <div class="col-12 position">
                                    <div class="position2">
                                        <div class="medicoes" ></div>
                                        <div class="medicoes1"></div>
                                    </div>
                                </div>
                                <div class="col-12 flexBox ">
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
            <h1 class="text-center">About-Me</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row mt-5 text-center">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 borderLine">
                    <h3 class="text-content" (click)="mutateContent()" >My Skills</h3>
                     
                    <div class="row mt-2">
                        <div class="col" *ngIf="content1">
                            <h3>Front-end</h3>
                            <ul>
                                <li>Angular</li>
                                <li>React</li>
                                <li>JavaScript</li>
                                <li>HTML/ CSS</li>
                                <li>Bootstrap</li>
                                <li>Azure boards</li>
                                <li>Scrum/Kanban</li>
                                <li>jasmine e karma (testes unitários)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 borderLine"> 
                    <h3 class="text-content" (click)="mutateContent2()" >My Experience</h3>
                    <div class="row  mt-2" *ngIf="content2">
                        <div class="col-11">
                            <div class="row list">
                                <h3 class="text-center" >
                                    SEST SENAT-DEX
                                </h3>
                                <ul class="text-start">
                                    <li> 08/2023- 06/2024 </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 borderLine"> 
                    <h3 class="text-content" (click)="mutateContent3()" >My Education</h3>
                    <div class="row  mt-2" *ngIf="content3">
                        <div class="col-11">
                            <div class="row list">
                                <ul class="text-start">
                                    <h3 class="text-center">SENAC</h3>
                                    <h4 class="text-center">Analise e Desenvolvimento de Sistemas</h4>
                                    <li>08/2023 </li>
                                    <li class="botton">.</li>
                                    <li class="botton">.</li>
                                    <li class="botton">.</li>
                                    <li class="botton">.</li>
                                    <li>End - 06/2024</li>
                                    <h4>Aprimoramento Profissional</h4>
                                    <li><b>Javascript para web:</b> crie páginas dinâmicas - Alura</li>
                                    <li><b>Javascript:</b> manipulando elementos no dom - Alura</li>
                                    <li><b>Lógica de programação:</b> mergulhe em programação com Javascript - Alura</li>
                                    <li><b>Angular 14: </b>aplique os conceitos edesenvolva seu primeiro crud - Alura</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
   <div class="container">
    <h2 class="text-center mt-5 mb-5">Bio</h2>
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-12 mt-5 mb-5">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-12 text-center mt-5 mb-5">
            <h3>Habilidades interpessoais</h3>
        </div>
        <div class="col-12 mt-5">
            <div class="row gap-5 justify-content-center">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cards d-flex align-itens-center">
                    <div class="row ">
                        <div class="col-12 text-center">
                            <img src="/public/images/conversation.png" alt="imagem comunicacao">
                        </div>
                        <div class="col-12 ">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cards cards cards d-flex align-itens-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="" alt="imagem comunicacao">
                        </div>
                        <div class="col-12">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cards cards cards d-flex align-itens-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="" alt="imagem comunicacao">
                        </div>
                        <div class="col-12">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cardscards cards d-flex align-itens-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="" alt="imagem comunicacao">
                        </div>
                        <div class="col-12">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cardscards cards d-flex align-itens-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="" alt="imagem comunicacao">
                        </div>
                        <div class="col-12">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 cards cards cards d-flex align-itens-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="" alt="imagem comunicacao">
                        </div>
                        <div class="col-12">
                            <p>Excelente comunicação e trabalho em equipe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
<div class="container">
    <h1 class="text-center">Services</h1>
    <div class="row">
        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-8">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="text-center">IMAGEM</h1>
        </div>
    </div>
</div>