.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    color: #333;
}
.navbar ul li h4{
    font-weight: bold;
    cursor: pointer;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.navbar ul li a{
    text-decoration: none;
    padding: 20px 30px;
    color: #333;
    cursor: pointer;
    transition:all 0.3s ease;
}
.navbar ul li a:hover{
    color: blue;
}
.navbar ul li button{
    background-color: #333;
    color: #fff;
    padding: 5px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.navbar ul li button:hover{
    background-color: #fff;
    color: #333;
    
}
.afaste{
    margin-top: 100px;
    margin-left: 11px;
}
.title{
    font-size: 4rem;
}
.subTitle{
    font-size: 4rem;
    font-weight: 200;
}
.afaste2{
    margin-left: 11px;
}
.btn{
    background-color: #333;
    color: #fff;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s ease;
    gap: 5px;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
.btn2{
    margin-left: 10px;
}
.text-content{
    padding: 5px 100px;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 15px;
}
.text-content:hover{
    background-color: #fff;
    color: #333;
}
.row .col ul li{
    list-style: none;
    text-align: left;
    font-size: 1.3rem;
}
.lineVertical{
    width: 1px;
    height: 100px;
    background-color: #333;
    
}
#lineVertical{
    background-color: aqua;
    display: flex;
    justify-content: end;
}
.list ul li{
    list-style: none ;
    
}

.botton{
    margin-bottom: -5px;
    
}
.text-start li{

    text-align: left;
    font-size: 1.3rem;
}
@media  (max-width: 320px) {
    ul li{
        display: flex;
        justify-content: center;
    }
  
}
.textRed{
    color: red;
}
h3 .textRed{
    font-size: 1.5rem;
}
.alin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}