<div class="container" >
    <div class="row">
        <div class="col-12 navbar">
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li><h4>Gabriel Fonseca</h4></li>
            </ul>
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Home</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">About</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Services</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Portfolio</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12" ><a href="">Contact</a></li>
            </ul>
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li><button>Dowload CV</button></li>
            </ul>
            <div class="container-fluid mt-3" style="height: 1px; background-color: #333;"></div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row ">
        <div class=" col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">
           <div class="row">
               <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                   <div class="afaste">
                    <h4>Hi, I'm Gabriel Fonseca</h4>
                    <h3 class="subTitle">Professional</h3>
                    <h3 class="title">Frontend Developer</h3>
                   </div>
               </div>
               <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <div class="mt-3 afaste2">
                    <p>Front-end developer with 1.5 year of experience. I have knowledge in HTML5, CSS3,<br> Bootstrap, JavaScript,Typescript, Angular, API consumption, Git and GitHub to create <br> web pages. Metodologies like Scrum and Kanban are also known.</p>
                   </div>
               </div>
               <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <div class="mt-3 afaste2">
                    <button class="btn">GIT HUB</button>
                    <button class="btn btn2">LINKEDIN</button>
                   </div>
               </div>
           </div>
        </div>
        <div class="col-6">
            <img src="" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5 mb-5">
            <h1 class="text-center">About-Me</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row mt-5 text-center">
                <div class="col-4">
                    <h2 class="text-content" >My Skills</h2>
                    <div class="row mt-2">
                        <div class="col">
                            <h3>Front-end</h3>
                            <ul>
                                <li>Angular</li>
                                <li>React</li>
                                <li>JavaScript</li>
                                <li>HTML/ CSS</li>
                                <li>Bootstrap</li>
                                <li>Azure boards</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4"> 
                    <h2 class="text-content" >My Experience</h2>
                </div>
                <div class="col-4"> 
                    <h2 class="text-content" >My Education</h2>
                </div>
            </div>
        </div>
       
        
    </div>
</div>