
.afaste{
    margin-top: 100px;
    margin-left: 11px;
}
.title{
    font-size: 4rem;
}
.subTitle{
    font-size: 4rem;
    font-weight: 200;
}
.afaste2{
    margin-left: 11px;
}
.btn{
    background-color: #333;
    color: #fff;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.3s ease;
    gap: 5px;
}
.btn:hover{
    background-color: #fff;
    color: #333;
}
.btn2{
    margin-left: 10px;
}
.text-content{
    padding: 5px 100px;
    background-color: #333;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 15px;
}
.text-content:hover{
    background-color: #fff;
    color: #333;
}
.row .col ul li{
    list-style: none;
    text-align: left;
    font-size: 1.3rem;
}
.lineVertical{
    width: 1px;
    height: 100px;
    background-color: #333;
    
}
#lineVertical{
    background-color: aqua;
    display: flex;
    justify-content: end;
}
.list ul li{
    list-style: none ;
    
}

.botton{
    margin-bottom: -5px;
    
}
.text-start li{

    text-align: left;
    font-size: 1.3rem;
}
@media  (max-width: 320px) {
    ul li{
        display: flex;
        justify-content: center;
    }
  
}
h3 .textRed{
    font-size: 1.5rem;
}
.alin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h3 a{
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
}
h3 a:hover{
    background-color:#2c3e50 ;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.infa{
    display:flex ;
    gap: 30px;
}
.curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    border: 1px solid #333;
    border-radius: 10px;
    height: 25vh;
}
.Cv{
    border: 1px solid #000; 
    width: 200px; 
    height: 250px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.position{
    display: flex;
    
    justify-content: center;
    margin-top: 10px;
}
.position2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.line{
    width: 10em;
    height: 0.1rem;
    background-color: #000;
    margin-top: 2rem;


}
.flexBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
