<div class="container" >
    <div class="row">
        <div class="col-12 navbar">
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li><h4>Gabriel Fonseca</h4></li>
            </ul>
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Home</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">About</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Services</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12"><a href="">Portfolio</a></li>
                <li class="sm-12 md-12 lg-12 xl-12 xxl-12" ><a href="">Contact</a></li>
            </ul>
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
                <li><button>Dowload CV</button></li>
            </ul>
            <div class="container-fluid mt-3" style="height: 1px; background-color: #333;"></div>
        </div>
    </div>
</div>
