<div class="container">
    <nav class="navbar container navbar-expand-lg">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <h4>Gabriel Fonseca</h4>
              </li>
            </ul>
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Contact</a></li>
            </ul>
            <ul class="sm-12 md-12 lg-12 xl-12 xxl-12">
              <li><button (click)="downloadPdf()"> Dowload CV</button></li>
            </ul>
          </div>
        </div>
      </nav>
</div>
